{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    
    <section id="user-list-container" class="user-list-form-container">

        {% include('default/table/users_list_table.html.twig') %}

    </section>

{% endblock %}
