<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}">

    {# Bootstrap 4.4.1 #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ asset('layout/default/css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('layout/default/css/form.css') }}">
    {% block stylesheets %}{% endblock %}

    {# jQuery 3.4.1 #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    {# Bootstrap 4.4 #}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <script>
        var params = params || {};
        $.extend(params, {
            sApiUrl: '{{ api_url }}',
            sApiKey: '{{ api_key }}'
        });
    </script>

    <script src="{{ asset('layout/default/js/html/user_list_form_elements.js') }}"></script>
    <script src="{{ asset('layout/default/js/html/alert.js') }}"></script>
    <script src="{{ asset('layout/default/js/functionallity.js') }}"></script>
    <script src="{{ asset('layout/default/js/request/ajax_requests.js') }}"></script>
    <script src="{{ asset('layout/default/js/user_interface.js') }}"></script>
    {% block javascripts %}{% endblock %}

    <title>
        {% block title %}{% endblock %}
    </title>

</head>
<body>

    <header class="app-header">
        <h1>Users API Service</h1>
    </header>

    <main class="app-main">
        {% block body %}{% endblock %}
    </main>

</body>
</html>
