form {
    padding: 0;
    margin: 0;
    width: 100%;
}

.form-item-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.form-label {
    padding-top: 0.4rem;
    flex: 1;
}

.form-widget {
    flex: 2;
}

.form-check-label {
    max-width: 100%;
    margin-left: 0.3rem;
}

.form-button-top-bar {
    margin-bottom: 1rem;
    justify-content: flex-end;
    align-items: flex-end;
}
.form-button-bottom-bar {
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
}

.form-input-search-user {
    width: 10rem;
}
