body {
    padding: 0 0 2rem;
    margin: 0;
    background-color: #FCFCFC;
    font-family: -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

main.app-main {
    padding: 0 8rem 0;
}

main.app-main a.link {
    color: #0495FE;
    text-decoration: none;
}

header.app-header {
    padding-top: 2.8rem;
    padding-bottom: 3.3rem;
    display: flex;
    justify-content: center;
}
header.app-header h1 {
    font-size: 2rem;
    margin: 0;
}

section.user-list-form-container {
    padding: 0 3% 0;
}

table tbody {
    font-size: 0.85rem;
}

.user-list-pagination-information {
    width: 15rem;
    margin-bottom: 1rem;
}
