{{ form_start(users_form) }}

<div class="form-item-container">
    {{ form_errors(users_form) }}
</div>

<div class="d-flex justify-content-between">
    <div class="user-list-pagination-information">
        <b>Page:</b> <span id="user-list-pagination-current-page">1</span> / <span id="user-list-pagination-pages">1</span><br>
        <b>Total users:</b> <span id="user-list-pagination-total">0</span>
    </div>
    <div class="form-item-container form-button-top-bar">
        {{ form_widget(users_form.users_list_username) }}
        {{ form_widget(users_form.users_list_search_user) }}
        {{ form_widget(users_form.users_list_get_all_users) }}
        {{ form_widget(users_form.users_list_clear_table) }}
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    Name
                </th>
                <th scope="col">
                    Email
                </th>
                <th scope="col">
                    Gender
                </th>
                <th scope="col">
                    Status
                </th>
                <th scope="col">
                    Created At
                </th>
                <th scope="col">
                    Updated At
                </th>
                <th scope="col">
                </th>
            </tr>
        </thead>
        <tbody id="users-list-table">

        </tbody>
    </table>
</div>

<div class="form-item-container form-button-bottom-bar">
    {{ form_widget(users_form.users_list_preview) }}
    {{ form_widget(users_form.users_list_next) }}
</div>

{{ form_end(users_form) }}
